@{
    ViewBag.Title = "Home Page";
}
<div class="wide-center fixed-header-margin" style="padding-top: 200px;">
    <div class="information-blocks">
        <div class="row">
            <div class="custom-col-1">
                <a class="promo-banner-box" style="background-image: url(../img/product-promo-1.jpg); background-color: #26334c;">
                    <span class="promo-text">
                        <span class="title">Nike airmax</span>
                        <span class="description">Sport <br> Shoes</span>
                        <span class="detail-link">view products</span>
                    </span>
                </a>
                <div class="clear"></div>
            </div>
            <div class="custom-col-1">
                <a class="promo-banner-box" style="background-image: url(../img/product-promo-2.jpg); background-color: #d6b620;">
                    <span class="promo-text">
                        <span class="title">Headphones</span>
                        <span class="description">woman's <br> Clothing</span>
                        <span class="detail-link">view products</span>
                    </span>
                </a>
                <div class="clear"></div>
            </div>
            <div class="custom-col-1">
                <a class="promo-banner-box" style="background-image: url(../img/product-promo-3.jpg); background-color: #914168;">
                    <span class="promo-text">
                        <span class="title">Headphones</span>
                        <span class="description">Cosmetics <br> &amp; perfumes</span>
                        <span class="detail-link">view products</span>
                    </span>
                </a>
                <div class="clear"></div>
            </div>
            <div class="custom-col-2">
                <a class="promo-banner-box" style="background-image: url(../img/product-promo-4.jpg); background-color: #23c0e0;">
                    <span class="promo-text">
                        <span class="title">Headphones</span>
                        <span class="description">Beats <br> by Dre</span>
                        <span class="detail-link">view products</span>
                    </span>
                </a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="row">
            <div class="custom-col-4">
                <div class="row">
                    <div class="custom-col-5">
                        <a class="promo-banner-box" style="background-image: url(../img/product-promo-5.jpg); background-color: #e35b5b;">
                            <div class="promo-text">
                                <span class="title">get ready</span>
                                <span class="description">spring <br> is coming</span>
                                <span class="detail-link">view products</span>
                            </div>
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div class="custom-col-5">
                        <a class="promo-banner-box" style="background-image: url(../img/product-promo-6.jpg); background-color: #865d3c;">
                            <span class="promo-text">
                                <span class="title">Classic toys</span>
                                <span class="description">Teddy <br> Bears</span>
                                <span class="detail-link">view products</span>
                            </span>
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="custom-col-3">
                <div class="information-blocks">
                    <div class="tabs-container">
                        <div class="swiper-tabs tabs-switch">
                            <div class="title">Products</div>
                            <div class="list">
                                <a class="block-title tab-switcher active">Featured Products</a>
                                <a class="block-title tab-switcher">Popular Products</a>
                                <a class="block-title tab-switcher">New Arrivals</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div>
                            <div class="tabs-entry">
                                <div class="products-swiper">
                                    <div class="swiper-container swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-int-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="6" id="swiper-unique-id-0">
                                        <div class="swiper-wrapper" style="width: 1506px; height: 287px;">
                                            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 251px; height: 287px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-1.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-visible" style="width: 251px; height: 287px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-2.jpg" alt="">
                                                            <a class="top-line-a right"><i class="fa fa-expand"></i> <span>Quick View</span></a>
                                                            <div class="bottom-line">
                                                                <div class="right-align">
                                                                    <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                    <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                </div>
                                                                <div class="left-align">
                                                                    <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-visible" style="width: 251px; height: 287px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-3.jpg" alt="">
                                                            <div class="bottom-line left-attached">
                                                                <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-visible" style="width: 251px; height: 287px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-4.jpg" alt="">
                                                            <div class="bottom-line left-attached">
                                                                <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 251px; height: 287px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-1.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 251px; height: 287px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-2.jpg" alt="">
                                                            <a class="top-line-a right"><i class="fa fa-expand"></i> <span>Quick View</span></a>
                                                            <div class="bottom-line">
                                                                <div class="right-align">
                                                                    <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                    <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                </div>
                                                                <div class="left-align">
                                                                    <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-entry">
                                <div class="products-swiper">
                                    <div class="swiper-container swiper-swiper-unique-id-1 initialized" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-int-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="6" id="swiper-unique-id-1">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-1.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-3.jpg" alt="">
                                                            <div class="bottom-line left-attached">
                                                                <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-4.jpg" alt="">
                                                            <div class="bottom-line left-attached">
                                                                <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-2.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-3.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-2.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination pagination-swiper-unique-id-1"><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-entry">
                                <div class="products-swiper">
                                    <div class="swiper-container swiper-swiper-unique-id-2 initialized" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-int-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="6" id="swiper-unique-id-2">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-2.jpg" alt="">
                                                            <a class="top-line-a right"><i class="fa fa-expand"></i> <span>Quick View</span></a>
                                                            <div class="bottom-line">
                                                                <div class="right-align">
                                                                    <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                    <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                </div>
                                                                <div class="left-align">
                                                                    <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-3.jpg" alt="">
                                                            <div class="bottom-line left-attached">
                                                                <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-1.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-2.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-3.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <div class="product-image">
                                                            <img src="../img/product-everything-4.jpg" alt="">
                                                            <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                            <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                            <div class="bottom-line">
                                                                <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                                        <a class="tag" href="#">Men clothing</a>
                                                        <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                        <div class="rating-box">
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                            <div class="star"><i class="fa fa-star"></i></div>
                                                        </div>
                                                        <div class="price">
                                                            <div class="prev">$199,99</div>
                                                            <div class="current">$119,99</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination pagination-swiper-unique-id-2"><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="information-blocks">
                    <div class="tabs-container">
                        <div class="swiper-tabs tabs-switch">
                            <a class="block-title tab-switcher active">Promoted Categories</a>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="tabs-entry">
                                <div class="products-swiper">
                                    <div class="swiper-container swiper-swiper-unique-id-3 initialized" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-int-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="6" id="swiper-unique-id-3">
                                        <div class="swiper-wrapper" style="width: 1506px; height: 347px;">
                                            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 251px; height: 347px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <img src="../img/product-everything-5.jpg" alt="">
                                                        <a class="title" href="#"><b>AUTOMOBILE PARTS</b></a>
                                                        <ul class="list-type-1">
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Evening dresses</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Jackets and coats</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Tops and Sweatshirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Blouses and shirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Trousers and Shorts</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-visible" style="width: 251px; height: 347px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <img src="../img/product-everything-6.jpg" alt="">
                                                        <a class="title" href="#"><b>SPORTS &amp; RESREATION</b></a>
                                                        <ul class="list-type-1">
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Evening dresses</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Jackets and coats</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Tops and Sweatshirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Blouses and shirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Trousers and Shorts</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-visible" style="width: 251px; height: 347px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <img src="../img/product-everything-7.jpg" alt="">
                                                        <a class="title" href="#"><b>ANIMALS ACCESSORIES</b></a>
                                                        <ul class="list-type-1">
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Evening dresses</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Jackets and coats</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Tops and Sweatshirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Blouses and shirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Trousers and Shorts</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-slide-visible" style="width: 251px; height: 347px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <img src="../img/product-everything-8.jpg" alt="">
                                                        <a class="title" href="#"><b>HOBBY EQUIPMENT</b></a>
                                                        <ul class="list-type-1">
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Evening dresses</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Jackets and coats</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Tops and Sweatshirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Blouses and shirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Trousers and Shorts</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 251px; height: 347px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <img src="../img/product-everything-9.jpg" alt="">
                                                        <a class="title" href="#"><b>HOBBY EQUIPMENT</b></a>
                                                        <ul class="list-type-1">
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Evening dresses</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Jackets and coats</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Tops and Sweatshirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Blouses and shirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Trousers and Shorts</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide" style="width: 251px; height: 347px;">
                                                <div class="paddings-container">
                                                    <div class="product-slide-entry">
                                                        <img src="../img/product-everything-10.jpg" alt="">
                                                        <a class="title" href="#"><b>HOBBY EQUIPMENT</b></a>
                                                        <ul class="list-type-1">
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Evening dresses</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Jackets and coats</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Tops and Sweatshirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Blouses and shirts</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i>Trousers and Shorts</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination pagination-swiper-unique-id-3"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>